:root{
    --color-green :#92c355;
    --color-greenMore: #41a110;
}
body{
    overflow-x: hidden;
}


.left{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-11%);
    transition: all 1s;
}
.right{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(11%);
    transition: all 1s;
}
.hidden{
    opacity: 0;
    filter: blur(5px);
    /* transform: translateX(100%); */
    transition: all 1s;
}
.top{
    opacity: 0;
    filter: blur(5px);
    transform: translateY(30%);
    transition: all 1s;
}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.up {
    z-index: 10;
    position: fixed;
    bottom: 20px;
    right: -50px;
    border: none;
    color: white;
    background-color: var(--color-green);
    font-weight: bold;
    font-size: 20px;
    padding: 15px 8px 15px 8px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.9s;
    animation-name: up;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  .up.look{
    right: 15px;
  }

@keyframes up{
    50%{
        transform: translateY(20px);
    }
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: aliceblue;
}
::-webkit-scrollbar-thumb{
    background-color: var(--color-green);
}
::-webkit-scrollbar-thumb:hover{
    background-color: var(--color-greenMore);
}
